/* Container för admin-sidan */
.admin-container {
    max-width: 800px;
    margin: 4rem auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.admin-container h2 {
    text-align: center;
}

/* Skapa inlägg-formulär */
.admin-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.admin-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin-form input,
.admin-form textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.admin-form button {
    max-width: 200px;
}

.admin-form button:hover {
    background-color: #f38d3a;
}

/* Lista av inlägg */
.admin-posts {
    margin-top: 2rem;
}

.admin-posts ul {
    list-style: none;
    padding: 0;
}

.admin-posts li {
    background: #f8f9fa;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.admin-posts li:hover {
    background: #e9ecef;
}

.admin-buttons {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

/* Bekräftelsemeddelande */
.notification {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: #f38d3a;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    z-index: 20;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Gör bekräftelsen osynlig efter tiden går ut */
.notification.hide {
    opacity: 0;
}

/* Jodit-editor */
.custom-editor .jodit-container {
    height: 400px !important;
}

.custom-editor .jodit-workplace {
    min-height: 200px !important;
    max-height: 600px !important;
}

.custom-editor .jodit-workplace p {
    padding: 0 0.5rem !important;
}

.custom-editor .jodit-placeholder {
    padding: 1rem !important;
    margin-top: 0.5rem !important;
}

@media (max-width: 600px) {
    .admin-container {
        padding: 1rem;
        margin: 2rem auto;
    }

    .admin-form button {
        max-width: 100%;
    }

    .notification {
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 0;
        text-align: center;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    }

    .admin-buttons {
        width: 100%;
    }

    .admin-buttons button {
        width: 100%;
    }
}